html, body {           /*resets padding and allow elements/divs to take up spaces completely without leaving white spaces around it.*/
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%; 
}

.title.bar {
    width:100%;
    padding:15px;
    background-color: #f5bad6;
    color: black;
    text-align: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
}

.thin.border {
  width: 100%;
  height: 1px;
  background-color: black;
}

.main.banner {
    width: 100%;
    height: 870px; 
    position: relative; 
}

.main.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.nav.box { 
    width: 1620px; 
    height: 100px;
    padding: 5px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%); /*!*/
    background-color: white; 
    border: 1px solid black; 
    border-radius: 20px; 
}

.nickname {
    font-family: "Times New Roman", serif;
    font-size: 50px;
    position: absolute;
    top: 20px;
    left: 30px; 
}

.photo.border { 
    width: 400px; 
    height: 450px;
    position: absolute;
    top: 265px;
    left: 270px;
    background-color: #f8e490; 
    border: 1px solid black; 
    z-index: 3;
}

.photo.shadow { 
    width: 400px; 
    height: 450px;
    position: absolute;
    top: 270px;
    left: 273px;
    background-color: black; 
    border: 1px solid black; 
    z-index: 2;
}

.mid.bar {
    width:100%;
    padding:15px;
    background-color: #c6dafa;
    color: black;
    text-align: center;
    font-family: "Courier New", Courier, monospace; 
}

.surname {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 125px;
    font-weight: bolder;
    position: absolute;
    top: 260px;
    right: 270px;
    z-index: 5;

}

.first.name.mi {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 75px;
    font-weight: bold;
    position: absolute;
    top: 390px;
    right: 270px;
    z-index: 5;

}

.biography {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 22px;
    position: absolute;
    top: 480px;
    right: 270px;
    text-align: right;
    z-index: 5;
}

.more.banner {
    width: 100%;
    height: 900px; 
    position: relative; 

}

.footer {
    width: 100%;
    height: 150px; 
    background-color: #f5bad6;
    position: relative; 
}

.main.banner .featured.photo { 
    width: 375px; /* scale width */ 
    height: auto; /* keep aspect ratio */ 
    position: absolute; /* place it freely inside banner */ 
    top: 276px; /* distance from top of banner */ 
    left: 472px; /* start at middle horizontally */ 
    transform: translateX(-50%); /* center horizontally */ 
    border: 1px solid black; /* optional border */ 
    z-index: 7;
}

/* REFERENCES

1. How to use font family:
https://webmasters.stackexchange.com/questions/23609/need-to-use-helvetica-in-css

2. Position Property:
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/position

3. translateX:
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/transform-function/translateX

4. z-index:
https://www.w3schools.com/css/css_z-index.asp
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/z-index


*/
